.row{

}
.clickable{
  cursor: pointer;
}

.panel-heading div {
margin-top: -18px;
font-size: 15px;
}
.panel-heading div span{
margin-left:5px;
}
.panel-body{
display: none;
}

@media screen and (min-width: 900px) {
  #dev-table{
    font-size: 14px;
  }
  #cont{
    position: absolute;
    left:20%;
  }
  #volta{
    content:url("../img/vl3.png");
  }
}


@media screen and (min-width: 600px) and (max-width: 900px) {
  #dev-table{
    font-size: 10px;
  }
  #cont{
    position: absolute;
    left:15%;
  }
  #volta{
    content:url("../img/vl3.png");
  }
}


@media screen and (max-device-width: 480px) {
  #dev-table{
    font-size: 7px;
  }
  #cont{
    position: absolute;
    left:12%;
  }
  #volta{
    content:url("../img/vl3mb.png");
  }
}
